{:lein   {:profile "server,client,webdev"}
 :nrepl  {:port 5000}
 :builds {:main {:target     :browser
                 :output-dir "target/public/js/out"
                 :asset-path "/js/out"
                 :modules    {:main {:entries [client.core]}}
                 :devtools   {:after-load client.user/on-jsload
                              :preloads   [client.user
                                           devtools.preload
                                           fulcro.inspect.preload]}}}}
