{:deps     {:aliases [:dev]}
 :dev-http {8080 ["classpath:public" "target/classes/public"]}
 :builds   {:client {:target     :browser
                     :output-dir "target/classes/public/client"
                     :asset-path "/client"
                     :modules    {:main {:init-fn mns.client/start}}
                     :devtools   {:after-load mns.client/after-load}}}}
